.dusk-bg-gray{
    background-color: rgb(60, 60, 60);
}
.dusk-bg-lightgray{
    background-color: rgb(80, 80, 80);
}

.top{
    height: 20vh;
}
.top-img{
    width: 100%;
    height: 100%;
    background-image: url("https://picsum.photos/id/11/1920/300");
}
.footer{
    height: 20vh;
}